* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    position: relative;
}

.navbar {
    width: 100%;
}

.navbar-brand {
    font-family: 'Kristi', cursive;
    font-size: 32px;
}


/*Home*/

.jumbotron-fluid {
    background-image: url(../img/dandelion.jpeg);
    background-position: center;
    background-size: cover;
    color: #191441;
    text-align: right;
    width: 105vw;
    height: 100vh;
}

h1 {
    text-shadow: 2px 2px #ADA6B0;
}

#think {
    font-family: 'Permanent Marker', cursive;
}

#imagine {
    font-family: 'Pacifico', cursive;
}

#create {
    font-family: 'Rock Salt', cursive;
}


/*Secciones*/

#aboutme,
#projects,
#skills,
#contact {
    width: 105vw;
    min-height: 100vh;
    margin-top: -2em;
    color: #3a445d;
}

#aboutme {
    background-color: #f8c7c8;
    background-image: url(../img/aboutme.png);
    background-position: center 30%;
    background-size: cover;
}

#myPhoto {
    width: 80%;
    height: auto;
    margin: 1em;
}

#projects,
#contact {
    background-color: #FCF8F2;
}

#skills {
    background-color: #f8c7c8;
}

.icon,
.iconContact {
    font-size: 5em;
    color: #3a445d;
}

.iconUp {
    font-size: 1.5em;
    margin: 2em 0;
    color: #cfd3d6;
}

.iconContact:hover,
.iconUp:hover {
    color: #f8c7c8;
}


/*Media Queries*/


/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    h1 {
        font-size: 2em;
        margin: 30vh 10vw;
    }
    h2 {
        font-size: 2em;
        padding: 0.2em;
    }
    h5 {
        font-size: 1rem;
        padding: 0.1em;
    }
    .text-aboutme {
        margin-left: 0.5em;
    }
    .card {
        margin: 1em;
    }
    #aboutme,
    #projects,
    #skills,
    #contact {
        padding: 3em 2em;
    }
}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 2.5em;
        margin: 30vh 10vw;
    }
    h2 {
        font-size: 2em;
        padding: 0.2em;
    }
    h5 {
        font-size: 1rem;
        padding: 0.1em;
    }
    .text-aboutme {
        margin-left: 0.5em;
    }
    .card {
        margin: 1em;
    }
    #aboutme,
    #projects,
    #skills,
    #contact {
        padding: 3em 2em;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 3em;
        margin: 30vh 10vw;
    }
    h2 {
        font-size: 2em;
        padding: 0.2em;
    }
    h5 {
        padding: 0.1em;
    }
    #myPhoto {
        margin-top: 3.5em;
    }
    .card {
        margin: 1.5em;
    }
    #aboutme,
    #skills {
        padding: 6em 2em;
    }
    #projects,
    #contact {
        padding: 3em 2em;
    }
    #skills-row {
        margin-top: 2em;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 3.5em;
        margin: 25vh 5vw;
    }
    h2 {
        font-size: 3em;
        padding: 0.5em;
    }
    h5 {
        padding: 0.2em;
    }
    .card {
        margin: 1.5em;
    }
    .card-deck {
        margin-bottom: 1em;
    }
    #aboutme {
        padding: 5em 2em;
    }
    #projects,
    #skills,
    #contact {
        padding: 3em 2em;
    }
    #skills-row {
        margin-top: 2em;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    h1 {
        font-size: 4.5em;
        margin: 25vh 5vw;
    }
    h2 {
        font-size: 3em;
        padding: 0.5em;
    }
    h5 {
        padding: 0.2em;
    }
    .text-aboutme {
        font-size: 1.15em;
    }
    .card {
        margin: 1.5em;
    }
    .card-deck {
        margin-bottom: 1em;
    }
    #aboutme {
        padding: 5em 2em;
    }
    #projects,
    #skills,
    #contact {
        padding: 3em 2em;
    }
    #skills-row {
        margin-top: 2em;
    }
}